<!DOCTYPE html>
<html lang="en">
<head>
    <title>Top This!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial scale=1">
    <!--Load Required Scripts: Angular / Bootstrap / JQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="javascripts/angular.js"></script>
</head>

<body>
<div class="container" ng-app="topThis" ng-controller="mainCtrl">
    <h1>{{actors[index].name}}</h1>
    <h2>Rating: {{actors[index].rating}}</h2>
    <a href="top"> View the top rated!</a>
    <form>
        <button type="submit" ng-click="upvote()">upvote</button>
        <button type="submit" ng-click="downvote()">downvote</button>
    </form>
    <!--Bug: image won't load sometimes. Need to implement a promise in angularJS-->
    <div class="col-sm-6"><img class="img-responsive" src="{{actors[index].image}}" alt="image"></div>

</div>
</body>
</html>
