<!DOCTYPE html>
<html lang="en">
<head>
    <title>Top This!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial scale=1">
    <!--Load Required Scripts: Angular / Bootstrap / JQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="javascripts/angular.js"></script>
</head>

<body>
<div class="container" ng-app="topThis" ng-controller="mainCtrl">
    <h1>Top Actors</h1>
    <div>
        <li ng-repeat="x in actors | orderBy: rating">
            {{x.name}}
        </li>
    </div>

</div>
</body>
</html>
